<table>
  <tr>
    <th>解析</th>
    <th>可用的网站 (慢慢补充)</th>
    <th>其它说明 (慢慢补充)</th>
  </tr>


  <tr>
    <td valign='top' width="20%">
  <%= form_tag("/parse", method: "post") do %>
  <div class="row">
    <div class="col-md-6">
      <textarea name="url" style="width: 300px; height: 200px;"></textarea>
      <p>
        <input type="submit" name="submit" value="Parse" />
      </p>
    </div>

  </div>

<% end %>




<p>
  
  <%= render 'parse/result' %>

</p>





    </td>


    <td width="40%">

<% @data.each do |item| %>
  <p>
    <a href="<%= item['site'] %>" target="_blank"><%= item['name'] %></a> <br />
    <a href="<%= item['md'] %>" target="_blank"><%= item['md'] %></a> <br />
    <a href="<%= item['url'] %>" target="_blank"><%= item['url'] %></a>
  </p>
<% end %>
<!-- 
<p>
  天猫：http://markdown.4ye.me/z1ei2y6c 
  <br />

京东：http://markdown.4ye.me/klxVBaYz
<br />
亚马逊（中国）：http://markdown.4ye.me/dwpFM336
<br />
凡客：http://markdown.4ye.me/KAGHbgz2
<br />
当当：http://markdown.4ye.me/Sh5kEhfY
<br />
1号店：http://markdown.4ye.me/unEbYpEy
<br />
AliceInMod：http://markdown.4ye.me/k2CAyyJI
<br />
易迅：http://markdown.4ye.me/GTH2qw0w
<br />
宜家：http://markdown.4ye.me/aPckCMRZ
<br />
趣玩：http://markdown.4ye.me/DIT6WpP3
<br />
好乐买：http://markdown.4ye.me/VxrScW1o
<br />
NOP：http://markdown.4ye.me/qk1BET4J
<br />
薄荷糯米葱：http://markdown.4ye.me/ulxcoBmm
<br />
国美在线：http://markdown.4ye.me/r9Nq88R0
<br />
优集品：http://markdown.4ye.me/qpzmysKR
<br />
丽芙家居：http://markdown.4ye.me/HZA1hrIy
<br />
无印良品（中国）：http://markdown.4ye.me/hREmA1RY
<br />
YOHO!有货：http://markdown.4ye.me/r25NsdRV
<br />
新蛋中国：http://markdown.4ye.me/rEtHAkVb
<br />
欧舒丹中国：http://markdown.4ye.me/EaYwqyoI
<br />
凡夫：http://markdown.4ye.me/DjHDln4B
<br />
兰蔻（中国）：http://markdown.4ye.me/BXdMdSDM
<br />
KnewOne：http://markdown.4ye.me/se6Q3xiC
<br />
理肤泉：http://markdown.4ye.me/ftK8jAFA
<br />
良仓：http://markdown.4ye.me/yhsMxRN8
<br />
唯品会：http://markdown.4ye.me/WUY5QNGR
<br />

Fab: http://markdown.4ye.me/R16G5TOK
<br />

ebay：http://markdown.4ye.me/JaPk6BFD
<br />

大众点评：http://markdown.4ye.me/j2Oi9SJu

<br />

yelp：http://markdown.4ye.me/FFXUhy7T


<br />

豆瓣阅读：http://markdown.4ye.me/oJTtqI27
<br />

豆瓣读书：http://markdown.4ye.me/pLVEXcqQ
<br />

多看阅读：http://markdown.4ye.me/ZisezjfX
<br />

豆瓣电影：http://markdown.4ye.me/IS0XuIU0
<br />

时光网：http://markdown.4ye.me/UfsKAK9l
<br />

IMDb：http://markdown.4ye.me/zEQpwdb2
<br />


安卓市场：http://markdown.4ye.me/Pd7XyOXR
<br />

安智市场：http://markdown.4ye.me/PdvGHJJl
<br />

应用汇：http://markdown.4ye.me/Gg7tXH8a
<br />

豌豆荚：http://markdown.4ye.me/RpFBYjsI
<br />

机锋市场：http://markdown.4ye.me/ek8OrGkq
<br />

应用宝：http://markdown.4ye.me/IFWsnVr0
<br />

App Store（中国）：http://markdown.4ye.me/CGPT4gZM
<br />

iTunes Store - 播客（中国）:http://markdown.4ye.me/vCVWLVuJ
<br />

iTunes Store - 图书（中国）:http://markdown.4ye.me/bj8ypybt
<br />

豆瓣移动应用：http://markdown.4ye.me/nTMTIgDS


</p> -->

</td>


</tr>
</table>

